{% extends "__base__.html" %}
{% block title %}ROAS Manager | Błąd{% endblock %}
{% block content %}
    {% load crispy_forms_tags %}


    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1>Błąd API</h1>
    </div>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'strategies' %}">Strona główna</a></li>
            <li class="breadcrumb-item active" aria-current="page">Błąd</li>
        </ol>
    </nav>

    <div class="row">
        <div class="col-sm">
            <p>Wystąpił błąd podczas pobierania danych przez API, powiadom administratora.</p>
        </div>
    </div>

{% endblock %}