{% extends "__base__.html" %}
{% block title %}{% endblock %}
{% block content %}
    {% load crispy_forms_tags %}

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1>Dodaj/edytuj konto Google Ads</h1>
    </div>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'strategies' %}">Strona główna</a></li>
            <li class="breadcrumb-item"><a href="{% url 'accounts' %}">Konta i grupy kampanii</a></li>
            <li class="breadcrumb-item active" aria-current="page">Dodaj/edytuj konto Google Ads</li>
        </ol>
    </nav>

    <div class="row">
        <div class="col-sm">

            <form action="#" method="post">
                <div class="form-group">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input type="submit" class="btn btn-primary" value="Zapisz">
                </div>
            </form>
        </div>
        <div class="col-sm">
        </div>
        <div class="col-sm">
        </div>
    </div>

{% endblock %}